

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #2C0059;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  
}

.hidden {
  display: none;
}

h1 {
  font-size: 1.5rem;
  margin: 75px 0;
}

h2 {
  margin: 20px 0;
  font-size: 1.5rem; 
}

button {
  background-color: #00A2FF;
  border: none;
  padding: 8px 16px;
  color: white;
  font-size: 1rem;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0086CC;
}

#matches {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}

.match {
  
  background-color: #3C0077;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px; /* Altura padronizada para os jogos */
  width: 270px;  /* Largura padronizada para os jogos */
  margin: 8px auto;
  margin-bottom: 10px;  /* Garante um espaçamento entre os jogos */
  padding-left: 20px; /* Ajuste para garantir que o conteúdo não fique encostado */
  padding-right: 20px;
  
}


.match .team {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.match img {
  width: 25px;  /* Tamanho das bandeiras */
  height: 18px;
  margin-right: 8px;
}

.match span {
  font-size: 1rem;
}

.team {
  display: flex;
  align-items: center;
  gap: 10px;
}

.team img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
}

#simulate-games, #advance, #reset {
  background-color: #FF6F00;
}

#simulate-games:hover, #advance:hover, #reset:hover {
  background-color: #FF4500;
}

.trophy {
  width: 120px;
  margin: 20px 0;
}

.list{
  margin-top: 35%;
}


